/target

/externals/*
externals/LibreHardwareMonitorWrapper/.idea
externals/LibreHardwareMonitorWrapper/.vs
externals/LibreHardwareMonitorWrapper/bin
externals/LibreHardwareMonitorWrapper/build
externals/LibreHardwareMonitorWrapper/obj
!externals/LibreHardwareMonitorWrapper

.idea
