/target

/externals/*
externals/windows/LibreHardwareMonitorWrapper/.idea
externals/windows/LibreHardwareMonitorWrapper/.vs
externals/windows/LibreHardwareMonitorWrapper/bin
externals/windows/LibreHardwareMonitorWrapper/build
externals/windows/LibreHardwareMonitorWrapper/obj
!externals/windows/LibreHardwareMonitorWrapper

.idea

multimeter-engine-doc_zh/book

/build

multimeter-engine-macros/target
